<link rel="stylesheet" href="/css/login.css">
<section class="prompt">
	<!-- <h3>Uno Game</h3> -->
	<img src="../../img/uno.png" class="loginimg" alt="">
	<h1>Sign in</h1>
	<% if (hasMessages) { %>
	<section class="messages">
		<% messages.forEach(function(message) { %>
		<p><%= message %></p>
		<% }); %>
	</section>
	<% } %>
	<form action="/login" method="post">
		<section>
			<label for="username">Username</label>
			<input id="username" name="username" type="text" autocomplete="username" required autofocus>
		</section>
		<section>
			<label for="current-password">Password</label>
			<input id="current-password" name="password" type="password" autocomplete="current-password" required>
		</section>
		<input type="hidden" name="_csrf" value="<%= csrfToken %>">
		<button type="submit">Sign in</button>
	</form>
	<hr>
	<p class="help">Don't have an account? <a href="/signup">Sign up</a></p>
</section>