<div class="container mt-4">
   <div class="row">
      <!-- <div class="col-12 mb-3">
         <h1 class="main-title">Uno Game Rules</h1>
      </div> -->
      <div class="mb-3">
         <div class="row">
            <div class="col-12 mb-2">
               <img style="width:100%;" src="/img/rules.png" alt="rules" />
            </div>
         </div>
      </div>
   </div>
</div>