.blank
  .width
    head
      p
        | CHAT BOX
        span
      link(rel='stylesheet', href='../public/stylesheets/chat.css')
      link(rel='stylesheet', href='../public/stylesheets/lobby.css')
      link(rel='stylesheet', href='../public/stylesheets/style.css')
      form.reply
        img.mb-4(src='images/uno.png', alt='', width='300', height='250')
        input#notification(type='text', name='notification', placeholder='Enter your message here...')
        input(type='submit', value='Send')
        input(type='submit', value='Forward')
        input(type='submit', value='Close')
