doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  link(rel='icon', href='../public/images/uno.png')
  title Uno-Game
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  link(rel='stylesheet', href='/stylesheets/chat.css')
  link(rel='stylesheet', href='/stylesheets/lobby.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

#game-page-container
  .home
    a.create(href='/') Home
  .lobby
    a.create(href='/lobby') Lobby
  .rules
    a.create(href='/rules') Rules
  .logout
    a.create(href='/') Log Out
  .game-image
    img.mb-4(src='/images/unogame.png', alt='', width='300', height='300')
  .form-game
    #winner
    #welcome-game-user
      h1  Welcome &apos;#{name}&apos;
    #current-user
      // Player 1
      h2 Player 1
    #game-running
      // Player 1 Deck
      // 7 random cards
      #mydeck.player1Deck
      .game-middle
        // Draw card button
        #draw-card
          button.btn.btn-primary Draw Card
        // Discard pile (shows active_discard)
        // <div id="discarded" class="middle-card"></div> 
        #draw-pile-deck.middle-card
          img(src='/images/card_deck.png', alt='draw-pile-deck')
        button.btn.btn-success(type='button', onclick='') START GAME
      .enemies
        #deck2.playerDeck
        .player2
          h2 Player 2
          h3 5 cards
        #deck3.playerDeck
        .player2
          h2 Player 3
          h3 6 cards
        #deck4.playerDeck
        .player2
          h2 Player 4
          h3 3 cards
    br
    #draw-pile-deck.middle-card
      img(src='/images/card_11.png', alt='draw-pile-deck')
      img(src='/images/card_4.png',  alt='draw-pile-deck')
      img(src='/images/card_66.png', alt='draw-pile-deck')
      img(src='/images/card_22.png', alt='draw-pile-deck')
      img(src='/images/card_33.png', alt='draw-pile-deck')
      img(src='/images/card_44.png', alt='draw-pile-deck')
      img(src='/images/card_55.png', alt='draw-pile-deck')
    #game-chat-container
      br
      br
      // Container where active chat history is stored.
      .chat-messages
      // Container where user can type and send a message in chat.
      #game-chatbox.chatbox
        form#game-chat-form
          br
          input#gamemsg(type='text', placeholder='Enter message', required='')
          button.chat-btn.btn.btn-success(padding='15') Send
