doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='public/stylesheets/chat.css')
  link(rel='stylesheet', href='public/stylesheets/lobby.css')
  link(rel='stylesheet', href='public/stylesheets/style.css')
  
  title {{title}}
main
  img.mb-4(src='images/uno.png', alt='', width='300', height='300')
  ul#menu
    li
      a(href='/create-game') Create Game
    li
      a(href='/join-game') Join Game
