include header

body 
    .logout
        a.create(href='/') Home
    form.form-signin(action='/users/login', method='POST')
        img.mb-4(src='images/uno.png', alt='', width='300', height='300')
        .mid
            input.form-control.bottom(type='text', name='username', placeholder='username', required='')
            input.form-control.bottom(type='text', name='password', placeholder='password', required='')
            button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') SIGN IN
        .links
            .link1
                a.forgot(href='/register') Forgot password?
            .link2
                a.create(href='/register') Create An Account

    

