doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  link(rel='icon', href='/images/uno.png')
  title Login
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/lobby.css')
  link(rel='stylesheet', href='/stylesheets/chat.css')
.logout
  a.create(href='/') Home
.rules
      a.create(href='/rules') Rules
.form-signin
  img.mb-4(src='/images/uno.png', alt='', width='300', height='300')
  ul
    // error message
  form(action='/users/register', method='POST', enctype='application/x-www-form-urlencoded')
    .mid
      input.form-control.bottom(type='text', name='username', placeholder='Enter username', required='')
      input.form-control.bottom(type='email', name='email', placeholder='Enter your email', required='')
      input.form-control.bottom(type='password', name='password', placeholder='Enter password', required='')
      input.form-control.bottom(type='password', name='cpassword', placeholder='Confirm password', required='')
      button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') SIGN UP
      // <input type="submit" value="register"
