include header 

body 
    .logout
        a.create(href='/') Home
    .form-signin
        img.mb-4(src='/images/uno.png', alt='', width='300', height='300')
        form(action='/users/register', method='POST', enctype='application/x-www-form-urlencoded')
            .mid
                input.form-control.bottom(type='text', name='username', placeholder='Enter a username', required='')
                input.form-control.bottom(type='email', name='email', placeholder='Enter your email', required='')
                input.form-control.bottom(type='text', name='password', placeholder='Enter a password', required='')
                input.form-control.bottom(type='text', name='cpassword', placeholder='Confirm password', required='')
                button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') SIGN UP