.chat-messages {
    display: flex;
    flex-direction: row;
    position: relative;
    float: right;
    width: 100%;
    height: 150px;
    background-color: rgb(230,230,233);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    text-align: left;
    border-radius: 4px;
    box-sizing: border-box;
    max-height: 150px; 
    overflow-y: scroll; 
    overflow-x : hidden;
}